.post-box {
  margin: 5vh;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #271810;
  }
  
.btn-create {
  background-color: #FF3D00;
  color: black;
  border-color: #960018;
  border-radius: 5px;
}
  
.btn-Comments
{
  white-space: nowrap;
  background-color: #ec8e13;
  border-color: #960018;
  color: black;
}

.btn-create:hover {
  background-color: #ec8e13;
  color: black;
  border-color: #960018;  
}

.btn-edit{
  background-color: yellow;
  color: black;
  border-color: gray;
}

.btn-delete{
  background-color: #ff002b81;
  color: black;
  border-color: gray;
}

.rating{
  color: white;
}