.post-box {
  margin: 5vh;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #271810;
  }
  
.btn-create {
  border-radius: 5px;
  color: #ec8e13;
  border-color: #ec8e13;
}
  
.btn-Comments{
  border-color: #ec8e13;
  color: #ec8e13;
}

.btn-Comments:hover{
  background-color: #ec8e13;
}

.btn-create:hover {
  background-color: #ec8e13;
  color: white;  
}

.btn-edit{
  border-radius: 5px;
  color: #fbff00;
  border-color: #fbff00;
  padding: 5px;
}

.btn-edit:hover{
  background-color: #fbff00;
  color: black;
}

.btn-delete{
  color: #ff002b;
  border-color: #ff002b;
  padding: 5px;
  border-radius: 5px;
}

.btn-delete:hover{
  background-color: #ff002b;
  color: black;
  border-color: #ff002b;
}

.rating{
  color: white;
}