.post-box {
  margin: 5vh;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #FF3D00;
  }
  
.btn-create {
  background-color: #FF3D00;
  color: black;
  border-color: #960018;
  border-radius: 5px;
}
  
.btn-Comments
{
  white-space: nowrap;
}

.btn-create:hover {
  background-color: #ec8e13;
  color: black;
  border-color: #960018;  
}

